extends layout

block title
	title Главная

block content
	.wrapper
		include header.pug

		main.main
			section.represent
				.represent__date
					time.represent__time(datetime='2020-10-09') 09/10
					span.represent__date-text старт курса
				.represent__content
					.represent__descrip
						span.represent__subtitle Прикладной курс
						h1.represent__title.represent__title--main Как открыть #[br] свое дело.
						p.represent__text.represent__text--main Прикладной курс “Как открыть свое дело” - это возможность дополнить жизненный опыт практичными знаниями для развития собственного бизнеса. Инвестируя в себя сейчас, вы сэкономите в будущем, принимая верные решения.
					.represent__format
						article.represent__item
							svg.icon.icon--in-person
								use.icon__item(xlink:href="#in-person")
							.represent__wrap
								h3.represent__title.represent__title--format ФОРМАТ обучения
								span.represent__text.represent__text--format очно и онлайн
						article.represent__item
							svg.icon.icon--video
								use.icon__item(xlink:href="#video")
							.represent__wrap
								h3.represent__title.represent__title--format видеозапись
								span.represent__text.represent__text--format все занятия доступны на видеозаписях
								
			section.timetable
				.timetable__title-wrap
					h2.timetable__title Расписание #[br] занятий:
				.timetable__content
					.timetable__table
						article.timetable__day
							span.timetable__name ПН
							.timetable__wrap
								time.timetable__time.timetable__time--start(datetime='12:30') 12:30
								time.timetable__time.timetable__time--end(datetime='18:00') 18:00
						article.timetable__day
							span.timetable__name Ср
							.timetable__wrap
								time.timetable__time.timetable__time--start(datetime='12:30') 12:30
								time.timetable__time.timetable__time--end(datetime='18:00') 18:00
					article.info
						a.info__btn(href="#") ?
						p.info__descrip Занятия курса проходят в утренних и вечерних группах, два раза в день. Вы можете сами выбирать удобное для учебы время.
						
			section.questions
				
				- const titleQues = ["поиск идеи", "старс бизнеса", "персональный бренд", "искусство интуитивной фотографии", "технолонии маркетинга"];
				- const descripQues = ["Eu eros sodales, malesuada tellus id, iaculis diam. Vestibulum sodales, felis quis pharetra ultrices, lectus ex laoreet felis.", "Malesuada tellus id, iaculis diam. Vestibulum sodales, felis quis pharetra ultrices, lectusex laoreet felis, vel condimentum nisi nulla et odio.", "Malesuada tellus id, iaculis diam. Vestibulum sodales, felis quis pharetra ultrices, lectusex laoreet felis, vel condimentum nisi nulla et odio.", "Malesuada tellus id, iaculis diam. Vestibulum sodales, felis quis pharetra ultrices, lectusex laoreet felis, vel condimentum nisi nulla et odio.", "Malesuada tellus id, iaculis diam. Vestibulum sodales, felis quis pharetra ultrices, lectusex laoreet felis, vel condimentum nisi nulla et odio."];
				
				ul.questions__list
					
					- for (let i = 0; i < 5; i++)
					
						li.question.question--active
							header.question__header
								.question__icon
									svg.icon.icon--question(class=`icon--question-${i+1}`)
										use.icon__item(xlink:href=`#ques-${i+1}`)
								.question__content
									.question__wrap-title
										h3.question__title.question__title--main=titleQues[i]
									.question__wrap-descrip
										p.question__descrip.question__descrip--main=descripQues[i]
									a.question__btn(href="#") подробнее о блоке
							.question__body
								ul.question__list
									
									- const subTitleQues = ['architecto beatae vitae', 'sit amet', 'Quis autem', 'voluptas nulla pariatur'];
									- const subDescripQues = ['Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.', 'Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"', '"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'];
									
									- for (let j = 0; j < 4; j++)
									
										li.question__item
											h4.question__title.question__title--sub=subTitleQues[j]
											p.question__descrip.question__descrip--sub=subDescripQues[j]
											
			section.detailed-table.section
				span.section__name.section__name--detailed-table Подробное расписание
				.detailed-table__block
					table.table
						tbody
							tr
								th 85 часов
								th 1. поиск идеи
							tr
								td 04.09 - 06.09
								td Ut enim ad minima veniam
							tr
								td 06.09 - 08.09
								td Quis nostrum
							tr
								td 11.09 - 13.09
								td Exercitationem
					table.table
						tbody
							tr
								th 100 часов
								th 2. старт бизнеса
							tr
								td 02.10 - 06.10
								td Ullam corporis suscipit
							tr
								td 09.10 - 03.11
								td Laboriosam
							tr
								td 06.11 - 19.11
								td Weekend
							
			section.format.section
				span.section__name.section__name--format формат обучения
				.format__view
					.format__item
						.format__img.format__img--full-time
							svg.icon.icon--full-time
								use.icon__item(xlink:href="#full-time")
						.format__name очно
					.format__line
						
						- for (let i = 0; i < 15; i++)
						
							small.format__line-item
					
					.format__item
						.format__img.format__img--online
							svg.icon.icon--online
								use.icon__item(xlink:href="#online")
						.format__name онлайн
						
				p.format__descrip Очные студенты присутствуют на лекциях в аудитории, а онлайн-студенты смотрят прямую трансляцию из любого места с доступом в Интернет. Онлайн обучение равноценно очному и отличается только форматом присутствия на лекциях.
				
			section.reviews.section
				span.section__name.section__name--reviews section name
				.slider
					.slider__content
						article.slide
							.slide__avatar
								img.slide__img(src="img/user.jpg" alt="avatar user")
							.slide__content
								.slide__data
									span.slide__name Alexey CHEREDNICHENKO
									small.slide__position head admin
								p.slide__descrip At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt.
					.slider__control
						.slider__count
							span.slider__num.slider__num--active 2
							small.slider__separ /
							small.slider__num.slider__num--total 3
						.slider__arrows
							a.slider__btn.slider__btn--prev(href="#")
								.slider__arrow.slider__arrow--prev
							a.slider__btn.slider__btn--next(href="#")
								.slider__arrow.slider__arrow--next

		include footer.pug
